name: Auto Approve

on:
  pull_request:

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
    - name: Auto Approve
      uses: hmarr/auto-approve-action@v4
      with:
        github-token: "${{ secrets.GITHUB_TOKEN }}"
